
.bd-placeholder-img {   
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

#page_num {
    margin-right : 260px;
    margin-left : 260px;
    margin-top : 30px;
}

#page_num ul li{
    float : left;
    margin-left : 10px;
    text-align : center;
}

@media ( max-width: 767px ) {
    #page_num {
        margin-right : auto;
        margin-left : auto;
        margin-top : auto;
    }
    
    #page_num ul li{
        float : left;
        margin-left : auto;
        text-align : center;
    }
  }

.left-box {
    float: left;
}

.right-box {
    float: right;
}

